* {
    color: #888;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;

    display: grid;
    place-items: center;

    background: linear-gradient(hsl(350, 100%, 70%), blue);
    background-size: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    width: 300px;
    color: #000;
}

.login-status {
    text-align: center;
    color: red;
    font-size: 14px;
}

.login-status.success {
    color: green;
}
.login-status.error {
    color: red;
}

.social-login > button {
    color: black;
    font-weight: bold;
}

.remember-me {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#email, #password {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    padding: 10px;
    background-color: hsl(300, 100%, 44%);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: hsl(300, 100%, 50%);
}

.or-social-login {
    text-align: center;
    margin: 5px 0;
    color: #aaa;
}

.social-login button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    flex: 1 auto;
    background-color: white;

    border: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #ccc;
}

.social-login {
    display: flex;
    gap: 10px;
}

.not-a-member {
    text-align: center;
    margin-top: 40px;
}